.container {
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container__topic {
    display: block;
    text-align: center;
}

.services {
    /* css config */
 
    /* width and height */
    --column-count: 2;
    --column-width: 50%;
    --img-width: 5rem;
    --img-height: 5rem;

    /* font-size */
    font-size: 0;
    --font-service-heading: 1.75rem;
    --lh-service-heading: 1;
    --font-service-description: 1.5rem;
    --lh-service-description: 2rem;
    --font-service-link: 1.5rem;
    --lh-service-link: 1;

    /* spacing */
    --margin: 4px;
    --grid-gap: 0.5rem;
    --service-padding: 1rem;
    --row-gap:var(--service-padding);
    --column-gap:var(--service-padding);
    --space-between-img-and-content: var(--service-padding);

    /* align */
    --img-align-vertical: start;

        /* background colors */
    background-color: #fff;
    --bg-on-hover: #ffd689;

    /* CSS Styles */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(var(--column-count), var(--column-width));
    padding: var(--grid-gap);

    /* this pushed inner box right */
    /* grid-row-gap: 1rem; */
    /* grid-column-gap: 1rem; */

    /* test */
    border: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
}

.service {
    margin: var(--grid-gap);
    border: 1px solid #ccc;
}

.service__item {
    padding: var(--service-padding);

    display: grid;
    grid-template-columns: min-content 1fr;
    /* grid-row-gap: var(--row-gap); */
    grid-column-gap: var(--column-gap);

    /* test */
    /* border: 1px solid; */
}

.service__img {
    /* 
        sample__img--n are square in size, 
        so whatever width I set,
        its height and width are same
    */
    grid-column-start: 1;
    grid-column-end: 2;
    width: var(--img-width);
    height: var(--img-height);
    align-self: var(--img-align-vertical);
    margin: var(--margin) 0;
}

.service__content {
    grid-column-start: 2;
    grid-column-end: 3;

    /* test */
    /* border: 1px solid; */
}

.service__heading {
    font-size: var(--font-service-heading);
    line-height: var(--lh-service-heading);
    font-weight: normal;
    margin: var(--margin) 0;
}

.service__description {
    font-size: var(--font-service-description);
    line-height: var(--lh-service-description);
}

.service__link {
    font-size: var(--font-service-link);
    line-height: var(--lh-service-link);
    margin: var(--margin) 0;
}

/* hovering state */
.service:hover {
    background-color: var(--bg-on-hover);
    border: 1px solid #262626;
}

.service__link:hover {
    text-decoration: underline;
}


/* 1024px */
@media (max-width: 64rem) {
    html {
        font-size: 50%;
    }
}

/* 768px */
@media (max-width: 48rem) {
    .services {
        --column-count: 1;
        --column-width: 100%;
    }
}